langchain
python-dotenv
ipykernel
langchain_community
langchain-community
pypdf
bs4
pip-system-certs
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
huggingface_hub
Faiss-cpu
langchain_chroma
langchain_groq 
langchain_core
fastapi
uvicorn
langserve
sse_starlette
streamlit
duckduckgo-search
langchain_mistralai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
cassio 
datasets
tiktoken
PyPDF2
astrapy
gradio